<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" href="/">Home Page</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" href="/admin">Admin Page</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" th:href="@{/admin/customers}">CRUD Customer</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" th:href="@{/admin/employees}">CRUD Employee</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" th:href="@{/admin/orders}">CRUD Order</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" th:href="@{/admin/products}">CRUD Product</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" href="#">Thống kê order theo ngày</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" href="#">Thống kê order khoảng thời gian</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success mr-2" href="#">Thống kê order theo nhân viên</span></a>
      </li>
    </ul>
  </div>
</nav>